.section {
  /* background-color: blueviolet; */
}

.container {
  /* background-color: yellow; */
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  height: 100%;
  justify-content: center;
}

.title-about {
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.title-about h1 {
  /* background-color: red; */
  color: white;
  font-size: 9rem;
}

.container-about {
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.photo {
  /* background-color: aqua; */
  width: 40rem;
  height: 40rem;
}
.photo img {
  border-radius: 6rem;
}

.container-descrip-skills {
  /* background-color: rgb(184, 124, 49); */
  padding: 0px 37px;
}

.description {
  /* background-color: blueviolet; */
  border: 1px solid white;
  border-radius: 2px;
  width: 100%;
  margin-top: 4rem;
}

.container-cuerpo-menu {
  /* background-color: rgb(172, 71, 34); */
  display: flex;
  outline: 1px solid white;
  border-radius: 2px 2px 0 0;
}

.caja-semaforo {
  padding: 0.5rem 1rem;
  /* background-color: aqua; */
}

.caja-semaforo span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 0.1rem;
}

.btn-red {
  background-color: red;
}

.btn-yellow {
  background-color: yellow;
}

.btn-green {
  background-color: green;
}

.caja-about {
  /* background-color: darkgreen; */
  padding: 0.5rem 1rem;
  color: white;
  background-color: #0a0214;
  position: relative;
  bottom: -2px;
  font-size: 0.9rem;
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-weight: 900;
}

.container-cuerpo-parrafo {
  display: flex;
}

.comentario-1 {
  background-color: #15111a;
  padding: 1.5rem 0.7rem;
  color: white;
}

.descrip-erick {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.descrip-erick p {
  text-align: left;
  padding: 1.5rem 0.8rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.skills-container h4 {
  font-size: 2rem;
  color: white;
  font-weight: 900;
  margin: 0;
  padding-top: 2rem;
}
.link-kill-img {
  /* background-color: green; */
  position: relative;
}
.link-kill-img:hover .skill-img {
  scale: 1.2;
}
.skill-img {
  transition: scale 0.5s;
}
.link-kill-img .tool-tip {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #95d204;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
  color: black;
}

.link-kill-img:hover .tool-tip {
  opacity: 1;
  top: -3rem;
}

.tool-tip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid #95d204;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  bottom: -10px;
  left: 50%;
  transform: rotate(90deg) translate(0, 50%);
}

.gap-1 {
  display: flex;
  margin-top: 44px;
}

.gap-1 a {
  margin: 0px 8px;
}
.gap-2 {
  display: flex;
  margin-top: 36px;
}

.gap-2 a {
  margin: 0px 8px;
}
