.container-header-perfile {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}
.container-user-cv {
  flex-basis: 50%;
}
.ocupación {
  color: white;
  max-width: 195px;
}

.photo {
  display: inherit;
  padding: 0 15px;
  flex-basis: 50%;
}
.photo img {
  border-radius: 100%;
}

.hola {
  color: #d5be74;
  text-align: center;
}

.soy {
  color: white;
}

.nombre-name {
  color: white;
}
.description {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Courier New";
  border-right: 0.15em solid #18bdec;
  animation: typing 4s steps(21) 1s infinite, blink 1s steps(1) infinite;
}

.boton-hacia-abajo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  cursor: pointer;
  margin-top: 350px;
}

.boton-hacia-abajo span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.boton-hacia-abajo span:nth-child(2) {
  animation-delay: -0.3s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media screen and (max-width: 1300px) {
  /* .nombre-name {
    font-size: 30px;
  } */
  .container-user-cv {
    margin-left: 80px;
  }
  .photo {
  }
}

@media screen and (max-width: 1100px) {
  .container-user-cv {
    margin-left: 100px;
  }
  .photo {
  }
  .boton-hacia-abajo span {
    width: 2vw;
    height: 2vw;
  }
}

@media screen and (max-width: 1050px) {
  .container-user-cv {
    margin-left: 120px;
  }
  .hola {
    color: #d5be74;
    text-align: center;
    font-size: 30px;
  }

  .soy {
    color: white;
    font-size: 30px;
  }

  .nombre-name {
    color: white;
    font-size: 40px;
  }
  .photo {
  }
}

@media screen and (max-width: 920px) {
  .container-user-cv {
    margin-left: 120px;
    padding: 0 15px;
    /* background-color: red; */
  }
  .soy {
    color: white;
    font-size: 25px;
  }
  .boton-hacia-abajo span {
    width: 2vw;
    height: 2vw;
  }
}

@media screen and (max-width: 750px) {
  .container-header-perfile {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    flex-direction: column;
    /* margin-top: 8rem; */
    /* background-color: red; */
  }

  .photo {
    display: inherit;
    flex-basis: 30%;
    max-width: 327px;
    margin-bottom: 103px;
  }
  .container-user-cv {
    text-align: center;
  }
  .ocupación {
    display: inline-block;
  }
  .buttom-cv {
    display: flex;
    justify-content: center;
  }
  .container-user-cv {
    margin-left: 0px;
    padding: 0 15px;
    margin-top: 11rem;
    /* background-color: red; */
  }
  .boton-hacia-abajo span {
    width: 3vw;
    height: 3vw;
  }
  .boton-hacia-abajo {
    margin-top: 382px;
  }
}

@media screen and (max-width: 450px) {
  .boton-hacia-abajo {
    margin-top: 345px;
  }

  .container-user-cv {
    margin-top: 9rem;
  }

  .photo {
    max-width: 281px;
    margin-bottom: 103px;
    margin-bottom: 129px;
  }
}
