.container-header-perfile {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}
.container-user-cv {
  flex-basis: 50%;
  margin-left: 6rem;
  width: 100%;
}
.ocupación {
  color: white;
  max-width: 195px;
}

.photo {
  display: inherit;
  padding: 0 15px;
  flex-basis: 50%;

  width: 100%;
  /* width: 75vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto; */
}
.photo img {
  border-radius: 7%;
  height: 27rem;
  width: 41rem;
  /* width: 100%; */
  /* box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);  */
}

.hola {
  color: #d5be74;
  text-align: center;
}

.soy {
  color: white;
}

.nombre-name {
  color: white;
}
.description {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  margin: 0 auto;
  font-family: "Courier New";
  border-right: 0.15em solid #18bdec;
  animation: typing 4s steps(21) 1s infinite, blink 1s steps(1) infinite;
}

.boton-hacia-abajo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  cursor: pointer;
  margin-top: 350px;
}

.boton-hacia-abajo span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.boton-hacia-abajo span:nth-child(2) {
  animation-delay: -0.3s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media screen and (max-width: 1829px) {
  .photo img {
    height: 25rem;
    width: 37rem;
  }

  .boton-hacia-abajo span {
    width: 2vw;
    height: 2vw;
  }
  .boton-hacia-abajo {
    margin-top: 320px;
  }
}

@media screen and (max-width: 1440px) {
  .photo img {
    height: 25rem;
    width: 34rem;
  }
  .container-user-cv {
    padding: 0px 81px;
  }
  .boton-hacia-abajo span {
    width: 2.5vw;
    height: 2.5vw;
  }
  .boton-hacia-abajo {
    margin-top: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .container-user-cv {
    margin: 0;
    padding: 0px 79px;
  }
  .photo img {
    height: 23rem;
    width: 27rem;
  }
  .boton-hacia-abajo span {
    width: 3vw;
    height: 3vw;
  }
  .boton-hacia-abajo {
    margin-top: 350px;
  }
}

/* @media screen and (max-width: 920px) {
  .container-user-cv {
    margin-left: 120px;
    padding: 0 15px;
  }
  .soy {
    color: white;
    font-size: 25px;
  }
  .boton-hacia-abajo span {
    width: 2vw;
    height: 2vw;
  }
} */

@media screen and (max-width: 768px) {
  .container-header-perfile {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    flex-direction: column;
    /* margin-top: 8rem; */
    /* background-color: red; */
  }

  .photo {
    display: flex;
    justify-content: center;
  }
  .photo img {
    margin-bottom: 89px;
    height: 19rem;
    width: 31rem;
  }
  .container-user-cv {
    text-align: center;
  }
  .ocupación {
    display: inline-block;
  }
  .buttom-cv {
    display: flex;
    justify-content: center;
  }
  .container-user-cv {
    margin-left: 0px;
    padding: 0 15px;
    margin-top: 11rem;
  }
  .boton-hacia-abajo span {
    width: 3vw;
    height: 3vw;
  }
  .boton-hacia-abajo {
    margin-top: 382px;
  }
}

@media screen and (max-width: 557px) {
  .photo img {
    height: 14rem;
    width: 25rem;
  }
  .boton-hacia-abajo {
    margin-top: 354px;
  }
}

@media screen and (max-width: 450px) {
  .nombre-name {
    font-size: 35px;
  }
  .photo img {
    height: 15rem;
    width: 19rem;
  }
  .boton-hacia-abajo {
    margin-top: 320px;
  }
  .photo {
    margin-bottom: 70px;
  }
  .boton-hacia-abajo span {
    width: 3vw;
    height: 3vw;
  }
}

@media screen and (max-width: 425px) {
  .photo img {
    height: 15rem;
    width: 22rem;
  }
  .boton-hacia-abajo span {
    width: 3vw;
    height: 3vw;
  }
}

@media screen and (max-width: 416px) {
  .nombre-name {
    font-size: 35px;
  }
  .photo img {
    height: 13rem;
    width: 19rem;
  }
  .boton-hacia-abajo {
    margin-top: 320px;
  }
  .photo {
    margin-bottom: 60px;
  }
  .boton-hacia-abajo span {
    width: 3vw;
    height: 3vw;
  }
}

@media screen and (max-width: 379px) {
  .nombre-name {
    font-size: 40px;
  }
  .photo {
    margin-bottom: 30px;
  }
  .photo img {
    height: 15rem;
    width: 19rem;
  }
  .boton-hacia-abajo {
    margin-top: 350px;
  }
  .boton-hacia-abajo span {
    width: 3vw;
    height: 3vw;
  }
}

@media screen and (max-width: 375px) {
  .nombre-name {
    font-size: 35px;
  }
  .photo img {
    height: 13rem;
    width: 18rem;
  }
  .boton-hacia-abajo {
    margin-top: 320px;
  }
}

@media screen and (max-width: 320px) {
  .nombre-name {
    font-size: 30px;
  }
  .photo img {
    height: 16rem;
    width: 19rem;
  }
  .photo {
    margin-bottom: 32px;
  }
  .boton-hacia-abajo {
    margin-top: 345px;
  }
}
