.header-container {
  position: fixed;
  z-index: 3;
  background-color: #797396;
  height: 112px;
  width: 100%;
  display: block;
  justify-content: center;
}

.menu-container {
  max-width: 1920px;
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: space-between;
  padding: 20px 88px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  vertical-align: -webkit-baseline-middle;
  align-items: center;
  /* background-color: green; */
}
.menu-container a {
  color: white;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  /* background: red; */
  /* display: block; */
  padding: 1rem;
  display: block;
}
.wrapper-logo {
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-tap-highlight-color: transparent;
}

.edit-logo {
  border-radius: 20%;
}
.items-menu {
  display: flex;
}

.items-menu.show {
  display: block;
}
.caja-tema-idioma.show {
  display: block !important;
}

.caja-tema-idioma {
  display: flex;
  /* margin-top: 15px; */
  align-items: center;
}

.ingles {
  display: inline-flex;
}
.ingles button {
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  display: block;
  max-width: inherit;
  min-width: inherit;
  border-radius: 50%;
  margin-left: 5px;
}
.ingles button span {
  display: block;
  width: inherit;
  max-width: inherit;
  min-width: inherit;
}
.ingles button img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.container-photo img {
  border-radius: 40px;
}

.open-hamburguer {
  display: none !important;
}

@media screen and (max-width: 760px) {
  .wrapper-logo {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
  }

  .items-menu {
    min-height: 0;
    display: none;
    text-align: center;
    background-color: #797396 !important;
  }

  .items-menu a {
    padding: 5px 0px !important;
  }

  .open-hamburguer {
    /* background-color: red; */
    /* display: block !important; */
    /* display: none; */
    display: block !important;
  }
  .ingles {
    display: none;
  }

  /* .header-container {
    position: absolute;
  } */
  .menu-container {
    /* background-color: rgba(255, 0, 0, 0.427); */
    display: block;
    /* padding: 15px 0px; */
    position: relative;
    padding: 0;
  }

  .caja-tema-idioma {
    display: none !important;
    margin-top: 5px;
  }

  .dark {
    /* margin-left: 12px; */
    background-color: #797396 !important;
  }
  .menu-container a {
    padding: 0;
  }

  .menu-style {
    display: block;
  }
}
